.App {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: 2rem;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

main {
  background-color: #282c34;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

table {
  margin-bottom: 0px !important;
}

.Table-title {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 1rem;
  background-color: #282c34;
}

.center-main {
  position: fixed;
  text-align: center;
}

.target-term {
  font-size: 1rem;
}